.home {
    width: 60%;
    margin: 0 auto;
    p {
        margin: 20px 0 30px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        th {
            text-align: left;
            // padding: 5px 10px;
        }
        th:nth-child(1) {
            min-width: 250px;
        }
        th:nth-child(2) {
            min-width: 200px;
        }
    }
    table,
    td,
    th {
        text-align: left;
        padding: 5px 10px;
        border-top: 1px solid #ccc;
    }
}
