.logo-holder {
    font-size: 2rem;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.here {
    color: #fff;
    position: relative;
    background-color: var(--primary);
    height: 240px;
    .header-content {
        position: absolute;
        top: 50%;
        left: 120px;
        transform: translateY(-50%);
        h1 {
            font-size: 2.4rem;
            padding: 6px;
            color: var(--primary);
            display: inline-block;
            background-color: #fff;
        }
        .text-container {
            font-size: 1.6rem;
            margin: 12px 0;
        }
        .link_cour {
            padding: 10px;
            display: inline-block;
            background-color: rgb(5, 159, 211);
            a {
                color: #fff;
            }
        }
    }
}
